<a href="https://colab.research.google.com/github/mezenka/Pandas_practice/blob/main/pandas_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Introduction**

Creating Series and DataFrame objects, by hand and by reading data files.

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 10)

print("Setup complete.")

Setup complete.

In [3]:
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
# q1.check()
fruits

   Apples  Bananas
0      30       21

In [5]:
fruit_sales = pd.DataFrame({'Apples': [35,41], 'Bananas': [21,34]}, index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [6]:
type(fruit_sales)

pandas.core.frame.DataFrame

In [7]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'], index=['Flour', 'Milk','Eggs','Spam'], name='Dinner')
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [8]:
type(ingredients)

pandas.core.series.Series

In [107]:
reviews = pd.read_csv('https://www.kaggle.com/input/wine-reviews/winemag-data_first150k.csv', index_col=0) # not accessible, was part of kaggele excercise
reviews

HTTPError: ignored

In [108]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [ ]:
animals.to_csv('animals.csv')

## **Indexing, Selecting & Assigning**
Selecting specific values of a pandas DataFrame or Series quickly and effectively.

In [109]:
fruit_sales = pd.DataFrame({'Apples': [35,41,47,52,59,63,70], 'Bananas': [21,34,37,39,43,50,52]}, index=['2016 Sales', '2017 Sales','2018 Sales','2019 Sales','2020 Sales','2021 Sales','2022 Sales'])
fruit_sales

            Apples  Bananas
2016 Sales      35       21
2017 Sales      41       34
2018 Sales      47       37
2019 Sales      52       39
2020 Sales      59       43
2021 Sales      63       50
2022 Sales      70       52

In [110]:
fruit_sales.Apples # can access the property of an object by accessing it as an attribute

2016 Sales    35
2017 Sales    41
2018 Sales    47
2019 Sales    52
2020 Sales    59
2021 Sales    63
2022 Sales    70
Name: Apples, dtype: int64

In [111]:
fruit_sales['Apples'] # accessing Python dictionary values using the indexing ([]) operator, similar for Data Frames
# the indexing operator [] does have the advantage that it can handle column names with reserved characters in them (e.g. if we had a country providence column, reviews.country providence wouldn't work)

2016 Sales    35
2017 Sales    41
2018 Sales    47
2019 Sales    52
2020 Sales    59
2021 Sales    63
2022 Sales    70
Name: Apples, dtype: int64

In [112]:
fruit_sales['Bananas'][5] # to find a single specific value

50

In [113]:
# pandas has its own accessor operators, loc and iloc
fruit_sales.iloc[0] # to select the first row of data in a DataFrame

Apples     35
Bananas    21
Name: 2016 Sales, dtype: int64

In [114]:
fruit_sales.iloc[5] # to select the second row of data in a DataFrame

Apples     63
Bananas    50
Name: 2021 Sales, dtype: int64

In [115]:
# Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.
# This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns.
# To get a column with iloc.:
fruit_sales.iloc[:,0]

2016 Sales    35
2017 Sales    41
2018 Sales    47
2019 Sales    52
2020 Sales    59
2021 Sales    63
2022 Sales    70
Name: Apples, dtype: int64

In [116]:
# On its own, the : operator, which also comes from native Python, means "everything". When combined with other selectors, however, it can be used to indicate a range of values.
# For example, to select Bananas column from just the first, second, and third row:
fruit_sales.iloc[:3,1]

2016 Sales    21
2017 Sales    34
2018 Sales    37
Name: Bananas, dtype: int64

In [117]:
# To select only the fifth and sixth rows:
fruit_sales.iloc[4:6,1]

2020 Sales    43
2021 Sales    50
Name: Bananas, dtype: int64

In [118]:
# Also possible to pass a list:
fruit_sales.iloc[[0,1,2,3],1]

2016 Sales    21
2017 Sales    34
2018 Sales    37
2019 Sales    39
Name: Bananas, dtype: int64

In [ ]:
# Negative numbers in selection will start counting forwards from the end of the values.
# For example the last five elements of the dataset are
fruit_sales.iloc[-5:]

##### **Label-based selection**

In [59]:
# iloc is conceptually simpler than loc because it ignores the dataset's indices
# With iloc the dataset is treated like a big matrix (a list of lists), one that we have to index into by position.
# loc, by contrast, uses the information in the indices to do its work.
# Since datasets usually have meaningful indices, it's usually easier to do things using loc instead.
fruit_sales.loc['2021 Sales', 'Apples']

63

In [120]:
# selecting several columns at once
fruit_sales.loc[:, ['Apples','Bananas']]

            Apples  Bananas
2016 Sales      35       21
2017 Sales      41       34
2018 Sales      47       37
2019 Sales      52       39
2020 Sales      59       43
2021 Sales      63       50
2022 Sales      70       52

`iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9.  
`loc` indexes inclusively. So 0:10 will select entries 0,...,10  
  
*`loc` can index any stdlib type: strings, for example. If we have a DataFrame with index values Apples, ..., Potatoes, ..., and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index df.loc['Apples':'Potatoes'] than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).*

*This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].*

*Otherwise, the semantics of using `loc` are the same as those for `iloc`.*

#### **Manipulating the index**

In [123]:
more_fruit = pd.DataFrame({'SalesYear':[2016,2017,2018,2019,2020,2021,2022],'Apples': [35,41,47,52,59,63,70], 'Bananas': [21,34,37,39,43,50,52]})
more_fruit

   SalesYear  Apples  Bananas
0       2016      35       21
1       2017      41       34
2       2018      47       37
3       2019      52       39
4       2020      59       43
5       2021      63       50
6       2022      70       52

In [124]:
more_fruit.set_index('SalesYear')
# useful if you can come up with an index for the dataset which is better than the current one

           Apples  Bananas
SalesYear
2016           35       21
2017           41       34
2018           47       37
2019           52       39
2020           59       43
2021           63       50
2022           70       52

#### **Conditional selection**

In [125]:
more_fruit.SalesYear == 2016
# produced is a Series of True/False booleans based on the year of each record

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: SalesYear, dtype: bool

In [126]:
# This result can then be used inside of loc to select the relevant data:
more_fruit.loc[more_fruit.Apples >= 50]

   SalesYear  Apples  Bananas
3       2019      52       39
4       2020      59       43
5       2021      63       50
6       2022      70       52

In [127]:
# can bring two or more questions together using the ampersand (&) for AND:
more_fruit.loc[(more_fruit.Apples >= 50) & (more_fruit.Bananas <= 45)]

   SalesYear  Apples  Bananas
3       2019      52       39
4       2020      59       43

In [128]:
# using a pipe (|) for OR
more_fruit.loc[(more_fruit.SalesYear == 2016) | (more_fruit.Bananas >= 40)]

   SalesYear  Apples  Bananas
0       2016      35       21
4       2020      59       43
5       2021      63       50
6       2022      70       52

In [129]:
# conditional selector `isin`
more_fruit.loc[more_fruit.SalesYear.isin([2017,2018,2019])]

   SalesYear  Apples  Bananas
1       2017      41       34
2       2018      47       37
3       2019      52       39

In [131]:
pears = [9,12,None,15,18,None,21]
more_fruit['Pears'] = pears
more_fruit

   SalesYear  Apples  Bananas  Pears
0       2016      35       21    9.0
1       2017      41       34   12.0
2       2018      47       37    NaN
3       2019      52       39   15.0
4       2020      59       43   18.0
5       2021      63       50    NaN
6       2022      70       52   21.0

In [132]:
# conditional selector `isnull`
more_fruit.loc[more_fruit.Pears.isnull()]

   SalesYear  Apples  Bananas  Pears
2       2018      47       37    NaN
5       2021      63       50    NaN

In [15]:
# conditional selector `notnull`
more_fruit.loc[more_fruit.Pears.null()]

NameError: ignored

#### **Assigning data**

In [135]:
# can assign either a constant value
more_fruit['hello'] = 'hello'
more_fruit['hello']

0    hello
1    hello
2    hello
3    hello
4    hello
5    hello
6    hello
Name: hello, dtype: object

In [136]:
# or with an iterable of values
more_fruit['index_backwds'] = range(len(more_fruit),0,-1)
more_fruit

   SalesYear  Apples  Bananas  Pears  hello  index_backwds
0       2016      35       21    9.0  hello              7
1       2017      41       34   12.0  hello              6
2       2018      47       37    NaN  hello              5
3       2019      52       39   15.0  hello              4
4       2020      59       43   18.0  hello              3
5       2021      63       50    NaN  hello              2
6       2022      70       52   21.0  hello              1

In [137]:
more_fruit['hello2'] = 'hello2'
more_fruit

   SalesYear  Apples  Bananas  Pears  hello  index_backwds  hello2
0       2016      35       21    9.0  hello              7  hello2
1       2017      41       34   12.0  hello              6  hello2
2       2018      47       37    NaN  hello              5  hello2
3       2019      52       39   15.0  hello              4  hello2
4       2020      59       43   18.0  hello              3  hello2
5       2021      63       50    NaN  hello              2  hello2
6       2022      70       52   21.0  hello              1  hello2

In [140]:
# deleting a column
more_fruit.drop('hello2', axis=1,inplace=True)
more_fruit

   SalesYear  Apples  Bananas  Pears  hello  index_backwds
0       2016      35       21    9.0  hello              7
1       2017      41       34   12.0  hello              6
2       2018      47       37    NaN  hello              5
3       2019      52       39   15.0  hello              4
4       2020      59       43   18.0  hello              3
5       2021      63       50    NaN  hello              2
6       2022      70       52   21.0  hello              1

In [146]:
# creating an index column (starting from 0)
more_fruit['index_forwds'] = range(len(more_fruit))
more_fruit

   SalesYear  Apples  Bananas  Pears  hello  index_backwds  index_forwds
0       2016      35       21    9.0  hello              7             0
1       2017      41       34   12.0  hello              6             1
2       2018      47       37    NaN  hello              5             2
3       2019      52       39   15.0  hello              4             3
4       2020      59       43   18.0  hello              3             4
5       2021      63       50    NaN  hello              2             5
6       2022      70       52   21.0  hello              1             6

In [1]:
# creating an index column (starting from 1)
more_fruit['index_forwds1'] = range(1,len(more_fruit) + 1)
more_fruit

NameError: ignored

## **Summary Functions and Maps**  
#### **Summary functions**

In [4]:
# import .csv from kaggle
reviews = pd.read_csv('https://raw.githubusercontent.com/mezenka/Pandas_practice/main/winemag-data_first15k.csv')
reviews

<ipython-input-4-ac31ddcd3695>:2: DtypeWarning: Columns (1,2,3,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  reviews = pd.read_csv('https://raw.githubusercontent.com/mezenka/Pandas_practice/main/winemag-data_first15k.csv')

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0.0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1.0,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Seleccin Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodrguez
2,2.0,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3.0,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4.0,France,"This is the top wine from La Bgude, named aft...",La Brlade,95.0,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude
...,...,...,...,...,...,...,...,...,...,...,...
138483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
reviews.reset_index(drop=True)
reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0.0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1.0,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Seleccin Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodrguez
2,2.0,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3.0,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4.0,France,"This is the top wine from La Bgude, named aft...",La Brlade,95.0,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude
...,...,...,...,...,...,...,...,...,...,...,...
138483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
reviews.drop('Unnamed: 0', axis=1,inplace=True) # remove older index column
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Seleccin Especial Reserva,96.0,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodrguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bgude, named aft...",La Brlade,95.0,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bgude
...,...,...,...,...,...,...,...,...,...,...
138483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
reviews.loc[(reviews.country.isnull()) & (reviews.description.isnull())] # figure out NULLs

,country,description,designation,points,price,province,region_1,region_2,variety,winery
15001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
138483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
reviews = reviews.dropna() # clear NULLs
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96.0,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96.0,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,US,This re-named vineyard was formerly bottled as...,Silice,95.0,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergstrm
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95.0,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
...,...,...,...,...,...,...,...,...,...,...
14986,US,"A beautiful Chardonnay, notable for its elegan...",Rancho Santa Rosa,93.0,40.0,California,Sta. Rita Hills,Central Coast,Chardonnay,Foley
14987,US,A brilliant Chardonnay showing how well this r...,T Anchor Ranch,93.0,45.0,California,Sta. Rita Hills,Central Coast,Chardonnay,Foley
14990,US,"Run, don't walk, to find this amazingly priced...",Signature Series,93.0,20.0,California,Napa Valley,Napa,Cabernet Sauvignon,Kirkland Signature
14994,US,"Another terrific wine from this vineyard, foll...",Pastorale Vineyard,93.0,100.0,California,Sonoma Coast,Sonoma,Pinot Noir,Freestone
14995,US,"Dark and tannic, reflecting the vineyard's loc...",Gowan Creek Vineyard,93.0,75.0,California,Anderson Valley,Mendocino/Lake Counties,Pinot Noir,Goldeneye

In [9]:
reviews.describe() # high-level summary
# this method is data type-aware, and appears to generate output for numerical fields only when applied to the entire dataframe
# when applied to specified columns the output changes based on the data type of the input

            points        price
count  4039.000000  4039.000000
mean     89.401832    41.790047
std       2.906877    39.236907
min      80.000000     4.000000
25%      87.000000    25.000000
50%      90.000000    37.000000
75%      92.000000    50.000000
max      98.000000  2013.000000

In [10]:
reviews.points.describe() #  high-level summary of the attributes of a specified column with numeric values

count    4039.000000
mean       89.401832
std         2.906877
min        80.000000
25%        87.000000
50%        90.000000
75%        92.000000
max        98.000000
Name: points, dtype: float64

In [11]:
reviews.designation.describe() # different output for a string data field

count       4039
unique      2601
top       Estate
freq         155
Name: designation, dtype: object

In [12]:
# some simple summary statistics about specified columns
reviews.points.mean()

89.4018321366675

In [13]:
reviews.points.max()

98.0

In [14]:
reviews.points.min()

80.0

In [15]:
reviews.points.std()

2.906876718082984

In [16]:
reviews.region_2.unique() # relevant for string data fields - returns an array of unique values

array(['Napa', 'Sonoma', 'Willamette Valley', 'Central Coast',
       'Columbia Valley', 'Finger Lakes', 'Mendocino/Lake Counties',
       'New York Other', 'Sierra Foothills', 'California Other',
       'Napa-Sonoma', 'Southern Oregon', 'Central Valley', 'South Coast',
       'Washington Other', 'Oregon Other', 'Long Island', 'North Coast'],
      dtype=object)

#### **Maps**  
A **map** is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science there is often a need for creating new representations from existing data, or for transforming data from the format it is in now to another format. Maps do that.

There are two mapping methods
`map()` is the first, and slightly simpler one

In [17]:
# to remean the scores the wines received to 0
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)
# The function passed to map() should expect a single value from the Series (a point value, in the above example),
# and return a transformed version of that value
# `map()` returns a new Series where all the values have been transformed by the function

0        6.598168
2        6.598168
3        6.598168
8        5.598168
9        5.598168
           ...
14986    3.598168
14987    3.598168
14990    3.598168
14994    3.598168
14995    3.598168
Name: points, Length: 4039, dtype: float64

In [19]:
# function passed to `map()` should expect a single value from the Series (a point value, in the above example), and return a transformed version of that value
# `map()` returns a new Series where all the values have been transformed by the function

# `apply()` is the equivalent method if we want to transform a whole DataFrame by calling a custom method on each row

def remean_points(row):
  row.points = row.points - review_points_mean
  return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,6.598168,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,6.598168,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,6.598168,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,US,This re-named vineyard was formerly bottled as...,Silice,5.598168,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergstrm
9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,5.598168,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
...,...,...,...,...,...,...,...,...,...,...
14986,US,"A beautiful Chardonnay, notable for its elegan...",Rancho Santa Rosa,3.598168,40.0,California,Sta. Rita Hills,Central Coast,Chardonnay,Foley
14987,US,A brilliant Chardonnay showing how well this r...,T Anchor Ranch,3.598168,45.0,California,Sta. Rita Hills,Central Coast,Chardonnay,Foley
14990,US,"Run, don't walk, to find this amazingly priced...",Signature Series,3.598168,20.0,California,Napa Valley,Napa,Cabernet Sauvignon,Kirkland Signature
14994,US,"Another terrific wine from this vineyard, foll...",Pastorale Vineyard,3.598168,100.0,California,Sonoma Coast,Sonoma,Pinot Noir,Freestone
14995,US,"Dark and tannic, reflecting the vineyard's loc...",Gowan Creek Vineyard,3.598168,75.0,California,Anderson Valley,Mendocino/Lake Counties,Pinot Noir,Goldeneye

In [22]:
# map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on
# If we look at the first row of reviews, we can see that it still has its original points value
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96.0,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz

In [23]:
# Pandas provides many common mapping operations as built-ins. For example, here's a faster way of remeaning our points column:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean
# In this code we are performing an operation between a lot of values on the left-hand side (everything in the Series) and a single value on the right-hand side (the mean value).
# Pandas looks at this expression and figures out that we must mean to subtract that mean value from every value in the dataset.

0        6.598168
2        6.598168
3        6.598168
8        5.598168
9        5.598168
           ...
14986    3.598168
14987    3.598168
14990    3.598168
14994    3.598168
14995    3.598168
Name: points, Length: 4039, dtype: float64

In [24]:
# Pandas will also understand what to do if we perform these operations between Series of equal length.
# For example, combining country and region information in the dataset:
reviews.country + " - " + reviews.region_1

# These operators are faster than map() or apply() because they use speed ups built into pandas.
# All of the standard Python operators (>, <, ==, and so on) work in this manner.
# However, they are not as flexible as map() or apply(), which can do more advanced things,
# like applying conditional logic, which cannot be done with addition and subtraction alone.

0               US - Napa Valley
2            US - Knights Valley
3         US - Willamette Valley
8        US - Chehalem Mountains
9              US - Sonoma Coast
                  ...
14986       US - Sta. Rita Hills
14987       US - Sta. Rita Hills
14990           US - Napa Valley
14994          US - Sonoma Coast
14995       US - Anderson Valley
Length: 4039, dtype: object